.home_container {
  margin-top: var(--header-margin);
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top div,
.top a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
}

.top > div:last-child {
  margin-right: 0;
}

.top .fa-chevron-right {
  font-size: 10px;
}

.top a {
  color: var(--primary-color);
  transition: color 0.3s;
}

.top a:hover {
  color: var(--light-pc);
}

main {
  display: flex;
  column-gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.major,
.minor {
  width: 100%;
}

.major {
  flex: 2.5;
}

.minor {
  flex: 1;
}

.categories,
.trending-posts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 40px;
}

.category-header,
.trending-posts .header {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.category-header::after,
.trending-posts .header::after {
  content: "";
  height: 1px;
  flex: 1;
  display: block;
  background-color: var(--border-color);
}

.category-div {
  display: flex;
  align-items: center;
  height: 90px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s;
}

.category-div img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.cat-div-details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.cat-div-details div {
  font-size: 18px;
  font-weight: 600;
}

.cat-div-details .name {
  margin-right: auto;
  margin-left: 10px;
}

.cat-div-details .number {
  margin-right: 10px;
}

.category-div:hover {
  transform: scale(1.1);
}

.tr-post {
  display: grid;
  height: 100px;
  column-gap: 20px;
  grid-template-columns: 100px 1fr;
  margin-bottom: 20px;
}

.tr-image {
  height: 100%;
  border-radius: 50%;
}

.tr-image img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.tr-image div {
  transform: translate(10%, -550%);
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
}

.tr-details {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.tr-category {
  color: var(--primary-color);
  display: block;
  margin-bottom: 7px;
  font-weight: 700;
  transition: all 0.3s;
}

.tr-category:hover {
  transform: scale(1.01);
  color: var(--light-pc);
}

.tr-brief {
  font-size: 15px;
  font-weight: 700;
  color: rgb(47, 45, 45);
  transition: all 0.3s;
}

.tr-brief:hover {
  color: var(--light-pc);
  text-decoration: underline;
}

.tr-post-date {
  display: flex;
  align-items: center;
  color: rgb(160, 146, 146);
  margin-top: auto;
}

.tr-post-date p {
  margin: 0;
  margin-left: 10px;
}

.post-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 100px;
}

.post-component {
  display: flex;
  width: 100%;
  column-gap: 20px;
  margin-bottom: 60px;
}

.post-image {
  display: block;
  flex: 1;
  max-width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.post-image img:hover {
  transform: scale(1.05);
}

.post-info {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-category {
  display: block;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 2px;
  transition: all 0.3s;
}

.post-category:hover {
  transform: scale(1.01);
  color: var(--primary-color);
  border-bottom-color: var(--light-pc);
}

.post-name {
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s;
}

.post-name:hover {
  color: var(--light-pc);
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: rgb(125, 119, 119);
  font-size: 14px;
}

.post-details div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.post-details p {
  margin: 0 0 0 10px;
}

.post-brief {
  font-size: 14.5px;
  line-height: 23px;
  color: rgb(54, 50, 50);
}

.empty-bkm {
  display: flex;
  column-gap: 30px;
}

.empty-bkm img {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.empty-bkm h2 {
  padding-top: 150px;
}

@media (max-width: 700px) {
  .home_container {
    padding: 20px;
    margin-top: 100px;
  }

  main {
    flex-direction: column-reverse;
  }

  .minor {
    border-bottom: 1px solid var(--border-color);
  }

  .post-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 700px) and (max-width: 1260px) {
  .home_container {
    padding: 70px;
  }

  .minor {
    min-width: 250px;
  }

  .tr-brief {
    font-size: 13.5px;
  }
}

@media (max-width: 900px) {
  .post-component {
    flex-direction: column;
  }

  .post-image {
    max-width: 100%;
    flex: none;
  }

  .post-info {
    align-items: center;
    flex: none;
  }

  .top div,
  .top a {
    font-size: 12px;
    margin-right: 10px;
    margin-left: 7px;
  }

  .post-name {
    text-align: center;
  }

  .empty-bkm {
    flex-direction: column;
  }

  .empty-bkm img {
    width: 100%;
    height: 300px;
  }

  .empty-bkm h2 {
    padding-top: 0;
  }
}
